{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui stackable grid">
        <div class="four wide column">
        </div>
        <div class="twelve wide column">
            {% include '@SyliusShop/Product/Index/_main.html.twig' %}
        </div>
    </div>
{% endblock %}
